In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("./datasets/train.csv")

In [3]:
df.shape

(2051, 81)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2051 entries, 0 to 2050
Data columns (total 81 columns):
Id                 2051 non-null int64
PID                2051 non-null int64
MS SubClass        2051 non-null int64
MS Zoning          2051 non-null object
Lot Frontage       1721 non-null float64
Lot Area           2051 non-null int64
Street             2051 non-null object
Alley              140 non-null object
Lot Shape          2051 non-null object
Land Contour       2051 non-null object
Utilities          2051 non-null object
Lot Config         2051 non-null object
Land Slope         2051 non-null object
Neighborhood       2051 non-null object
Condition 1        2051 non-null object
Condition 2        2051 non-null object
Bldg Type          2051 non-null object
House Style        2051 non-null object
Overall Qual       2051 non-null int64
Overall Cond       2051 non-null int64
Year Built         2051 non-null int64
Year Remod/Add     2051 non-null int64
Roof Style         2051 non-null object
Roof Matl          2051 non-null object
Exterior 1st       2051 non-null object
Exterior 2nd       2051 non-null object
Mas Vnr Type       2029 non-null object
Mas Vnr Area       2029 non-null float64
Exter Qual         2051 non-null object
Exter Cond         2051 non-null object
Foundation         2051 non-null object
Bsmt Qual          1996 non-null object
Bsmt Cond          1996 non-null object
Bsmt Exposure      1993 non-null object
BsmtFin Type 1     1996 non-null object
BsmtFin SF 1       2050 non-null float64
BsmtFin Type 2     1995 non-null object
BsmtFin SF 2       2050 non-null float64
Bsmt Unf SF        2050 non-null float64
Total Bsmt SF      2050 non-null float64
Heating            2051 non-null object
Heating QC         2051 non-null object
Central Air        2051 non-null object
Electrical         2051 non-null object
1st Flr SF         2051 non-null int64
2nd Flr SF         2051 non-null int64
Low Qual Fin SF    2051 non-null int64
Gr Liv Area        2051 non-null int64
Bsmt Full Bath     2049 non-null float64
Bsmt Half Bath     2049 non-null float64
Full Bath          2051 non-null int64
Half Bath          2051 non-null int64
Bedroom AbvGr      2051 non-null int64
Kitchen AbvGr      2051 non-null int64
Kitchen Qual       2051 non-null object
TotRms AbvGrd      2051 non-null int64
Functional         2051 non-null object
Fireplaces         2051 non-null int64
Fireplace Qu       1051 non-null object
Garage Type        1938 non-null object
Garage Yr Blt      1937 non-null float64
Garage Finish      1937 non-null object
Garage Cars        2050 non-null float64
Garage Area        2050 non-null float64
Garage Qual        1937 non-null object
Garage Cond        1937 non-null object
Paved Drive        2051 non-null object
Wood Deck SF       2051 non-null int64
Open Porch SF      2051 non-null int64
Enclosed Porch     2051 non-null int64
3Ssn Porch         2051 non-null int64
Screen Porch       2051 non-null int64
Pool Area          2051 non-null int64
Pool QC            9 non-null object
Fence              400 non-null object
Misc Feature       65 non-null object
Misc Val           2051 non-null int64
Mo Sold            2051 non-null int64
Yr Sold            2051 non-null int64
Sale Type          2051 non-null object
SalePrice          2051 non-null int64
dtypes: float64(11), int64(28), object(42)
memory usage: 1.3+ MB

In [81]:
features = ['Lot Area', 'Overall Qual', 'Pool Area', 'Garage Area']
X = df[features]

In [82]:
X.head()

   Lot Area  Overall Qual  Pool Area  Garage Area
0     13517             6          0        475.0
1     11492             7          0        559.0
2      7922             5          0        246.0
3      9802             5          0        400.0
4     14235             6          0        484.0

In [83]:
y = df['SalePrice']

Let's Train Test Split

In [84]:
from sklearn.model_selection import train_test_split

In [85]:
X_train, X_test, y_train, y_test = train_test_split(X,y)

In [86]:
print(X_train.shape)
print(X_test.shape)

(1538, 4)
(513, 4)

In [87]:
from sklearn.model_selection import cross_val_score
from sklearn.linear_model import LinearRegression

In [88]:
# Instantiate
linreg = LinearRegression()

In [89]:
cross_val_score(linreg, X_train, y_train, cv=3)

array([0.65393301, 0.72238085, 0.73367685])

In [90]:
# Fit it!
linreg.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [91]:
linreg.score(X_test, y_test)

ValueError: Input contains NaN, infinity or a value too large for dtype('float64').

In [92]:
np.mean(cross_val_score(linreg, X_train, y_train))

C:\Users\Adiwid\Anaconda3\lib\site-packages\sklearn\model_selection\_split.py:1943: FutureWarning: You should specify a value for 'cv' instead of relying on the default value. The default value will change from 3 to 5 in version 0.22.
  warnings.warn(CV_WARNING, FutureWarning)

0.7033302351766798

## Let's make predictions to submit to Kaggle! ##

In [93]:
df_to_pred = pd.read_csv('./datasets/test.csv')

In [94]:
df_to_pred.head()

,Id,PID,MS SubClass,MS Zoning,Lot Frontage,Lot Area,Street,Alley,Lot Shape,Land Contour,...,3Ssn Porch,Screen Porch,Pool Area,Pool QC,Fence,Misc Feature,Misc Val,Mo Sold,Yr Sold,Sale Type
0,2658,902301120,190,RM,69.0,9142,Pave,Grvl,Reg,Lvl,...,0,0,0,NaN,NaN,NaN,0,4,2006,WD
1,2718,905108090,90,RL,NaN,9662,Pave,NaN,IR1,Lvl,...,0,0,0,NaN,NaN,NaN,0,8,2006,WD
2,2414,528218130,60,RL,58.0,17104,Pave,NaN,IR1,Lvl,...,0,0,0,NaN,NaN,NaN,0,9,2006,New
3,1989,902207150,30,RM,60.0,8520,Pave,NaN,Reg,Lvl,...,0,0,0,NaN,NaN,NaN,0,7,2007,WD
4,625,535105100,20,RL,NaN,9500,Pave,NaN,IR1,Lvl,...,0,185,0,NaN,NaN,NaN,0,7,2009,WD

In [95]:
set(df.columns) - set(df_to_pred.columns)

{'SalePrice'}

In [96]:
X_holdout = df_to_pred[features]

In [97]:
X_holdout.head()

   Lot Area  Overall Qual  Pool Area  Garage Area
0      9142             6          0          440
1      9662             5          0          580
2     17104             7          0          426
3      8520             5          0          480
4      9500             6          0          514

In [98]:
y_hat = linreg.predict(X_holdout)
y_hat

array([173782.30985707, 150973.79306165, 222567.24701649, 139940.3363333 ,
       181112.04495675,  74561.50110185,  87917.39580666, 120560.98423995,
       213973.61486714, 178462.48330319, 174403.49156322, 159562.24251349,
       178497.33285042, 242676.87225151, 160079.68281767, 120173.54240139,
       211838.31346469, 129036.16675344, 174628.0443142 , 259763.68825023,
       120411.68761728, 162775.03711496, 180285.47878867, 203963.27939443,
       223324.89132682, 126026.25029738, 100215.0356885 , 118981.60068798,
       176826.274227  ,  14959.24250758, 120025.86628425, 104980.35809032,
       253054.38804272, 138756.53915746, 228905.19909275, 218422.49289749,
        69530.73384143, 102542.16511705, 134588.12669125, 223856.40962248,
       172869.74233546, 212923.5421623 , 151068.67103136, 132867.96550304,
       208000.1332027 ,  47993.04849316, 229049.20402389, 122369.79262745,
       119783.73324332, 122581.54333414, 112473.65756561, 263049.95860349,
       285423.02839397, 121068.91571434, 121099.10775486, 171704.52442198,
       191999.16493131, 141988.56391267, 219449.14622961, 248412.81651703,
       296133.45068671, 140188.6245638 , 132876.69906731, 219588.92644492,
       174365.77598602, 283384.60135456,  59294.00689919, 182135.39946801,
        16279.28770974, 163882.32649943, 103270.5808624 , 289022.33488413,
       214505.7862504 , 209554.42819565, 126854.22030943, 192377.09244622,
       412764.38290867, 149552.14040891, 158439.99989453, 122749.28374481,
       326872.37610333, 217410.33155743, 190568.88066297, 118436.78921513,
       108331.32558549, 194843.30395687, 338919.5639128 , 138520.44515427,
       191388.07755899, 265941.75274323, 184277.16512153, 119030.54701696,
       100388.24281679, 151787.39886592, 241833.53500439, 112600.7524207 ,
       169028.40641704, 127402.54518098, 255761.96998046, 189567.49652233,
       253308.703566  , 274445.05729426, 191614.85654876, 117647.07107131,
       353416.39818411, 169222.63165315,  88422.53629969, 169469.37495896,
       212002.98645145, 189543.63117482,  63833.59091909, 183582.68060598,
       257211.19883098, 100444.8161826 , 111286.74780775, 228997.21663885,
       398346.1441394 , 155839.86657384, 125159.97007506, 322717.12891752,
       177938.20441161, 383977.8698815 , 278297.70109676, 288282.57159042,
       177166.66471347,  95933.72304272, 339254.58909809, 124297.95775551,
       118849.59616777, 123452.70882493, 338310.23748197, 130197.10160906,
       176515.09154405, 144581.06667388, 166274.41841223, 162018.47845808,
       200817.15798645, 226479.71224117, 229268.52342538, 182131.97077918,
       125659.91688287, 195574.63089032, 120210.78563597, 155472.2946802 ,
       216623.22739769,  95571.35252437, 131095.74176866, 184328.59545408,
       163999.42502699,  80397.51713481, 230021.41794158, 225823.82964606,
       166329.2322755 , 127753.12933402, 121345.85666704, 119019.31626519,
       118036.64125489,  48622.21289471, 161782.83603605, 252683.86946413,
       288964.04914509, 186782.00294926, 123725.19169367, 121225.32187309,
       356431.65192764, 287407.69327818, 277278.86301149, 193930.63854148,
       199734.46955074, 219988.97090502, 213953.25534078, 349732.23607128,
       139172.31003386, 149712.27454422, 202507.25700212, 210272.01400592,
       174886.34766251, 110631.79868516, 149071.96410077,  74568.35847952,
       124724.53219916,  98638.31468887, 215662.51506795, 231667.7512421 ,
       210069.94154876, 178941.9822396 , 159120.65297067, 206254.52219055,
       196530.98644002, 134788.43964587,  74375.20230281, 219885.74139743,
       108836.47926243, 160736.08291354, 117722.97456835, 171393.949556  ,
       173758.63271958, 287017.42704511, 120977.09759099, 132698.71774825,
       157048.95173143, 308182.80794442, 204590.01044436, 166441.96500652,
       180027.6929411 , 162473.95020479,  95826.07500293, 163660.46475233,
       159634.95629619, 245958.72001766, 203828.31292164, 173914.89022006,
       182820.26968242,  72785.25207438, 570145.0020209 , 278365.07594612,
       214708.98391276, 236762.47235311, 182155.39928091,  54210.97569866,
       120584.89474557, 206908.71680908, 182417.10142757, 174108.72782341,
       174899.05939057, 167914.9237302 , 152561.68999368, 280974.53041883,
       223143.37781877, 134799.77950415, 252765.50502112, 115286.31333585,
        47921.04602759,  75375.43267418,  91593.22876594, 293214.50371849,
       177635.93592539, 111031.24093465, 320266.56669085, 329729.7443577 ,
       204127.04713516, 279919.65154902, 180529.25817073, 271095.49364306,
       219103.26265769, 317752.45143026, 287493.33545049, 186036.88412815,
        94052.49818905, 174122.79823732, 296797.65636817, 245458.70729027,
       154358.91549351, 250129.86864587, 226470.10551759, 190093.93573312,
        42866.06742236,  60451.1893816 , 326494.60493676, 215614.14458175,
       194230.55092091, 209887.21801312, 163729.34145196, 145376.6954264 ,
       181019.72251657, 232752.58120674, 174989.90085446, 122853.85875433,
       209126.89027646, 180833.70016007, 172124.31301391, 176442.99876225,
       224236.41824058, 219201.8930006 , 307188.24920725, 109706.40483514,
       142100.82990743, 163897.7555992 , 162834.5140913 , 132231.99645949,
       123156.41137316, 281531.23319609, 175317.35942866, 100134.93736612,
       125398.21121355, 168395.83969449, 248326.17142994, 179238.77643064,
       145484.69912476, 166278.33262761, 152269.89578399, 118467.29736246,
       181400.32016137,  74561.50110185, 120998.31709274, 158347.60240575,
       163882.32649943, 225915.17542678, 228877.16176508, 252576.13463076,
       189083.52071168, 175062.68616311, 298964.70439708, 137807.27787622,
       144538.55811562, 113233.46219515,  97199.97972184, 412065.15476794,
       226256.09099154, 122722.77255154, 132099.58354504, 139553.46275996,
       252243.64970738, 235568.7655308 , 268286.45280047,  57708.23831218,
       322618.93894304, 299809.1836685 , 249646.86388832, 208497.31187432,
       125743.38346834,  56062.46767053, 131030.53833872, 118295.68228816,
       291851.40596234, 148568.21218409, 166558.06247798, 165318.35457269,
       199675.87134006, 198485.28073495, 119229.08728512, 142950.88697417,
       180047.29402103, 137522.8189932 , 241360.84828754, 151738.80467285,
       187194.62718572, 122424.28280636,  69691.50579672, 159954.53567513,
       242492.31560368, 201017.98503167,  99144.0462923 , 128727.82373263,
       180643.09742918, 274785.72070061, 257366.79017246, 175153.47489133,
       121977.50507217, 216169.81796389, 149108.82530894, 164615.06640587,
       170453.05299656, 145016.68309854, 253822.47620685, 107178.34145107,
       225098.76545723, 192924.55173602, 230484.96467111, 266612.21764664,
        96342.80751265, 156227.55090955, 133143.15464328, 116334.00553726,
       182034.97973208, 253856.70475318, 247958.91397913, 232303.91266308,
       160389.87213459, 214388.75716508,  38903.00744387, 217072.60218435,
       153363.28978066, 188539.67832074, 313468.83541337, 154358.91549351,
       281847.2088601 , 187287.20178431, 241319.9110218 , 220076.17667978,
       113172.42513902, 172832.51031361, 199884.96862344, 327705.45717444,
       274836.45850631, 214326.31626498, 177643.22048758, 147479.31176825,
       220369.30673015, 154903.37899786, 133818.12070506, 113693.13986741,
       242059.79857712, 175777.50944355, 120365.73926997, 239575.33148848,
        51022.29508046, 172124.84930493, 174871.99872235, 146479.19599723,
       153081.66559816, 256442.82247934, 229361.97118328, 111819.51568274,
       292503.85986862, 131997.07293213, 122621.9047571 , 132979.77431027,
       226585.17359392, 276518.25674859, 170606.98481299, 116510.98788393,
       137677.40170102, 215843.75004975, 124240.03888776, 258592.84374814,
       273260.35498492, 146578.52250216, 236626.3805626 , 115641.4652116 ,
       148197.91939608, 187728.06890979, 132312.99025411, 227161.94835479,
       146391.35395396, 254584.04242264, 366430.85465488, 241398.56386475,
       218803.63441087, 202255.66797957, 310388.75312658, 107605.27155328,
       159065.74879116, 150504.47669161, 211328.89135275,  89846.02009343,
       292773.56141725, 209245.25156728, 208661.87223191, 207221.76249472,
       193699.202045  , 212264.25724618, 128383.5641889 , 150244.48888937,
       187016.36381775, 188936.13224981, 165814.40595539,  28296.48290143,
        72088.03139684, 250480.83338635, 146390.05008748, 222721.56438198,
       284953.6536819 , 209431.0801074 , 207548.67159397, 224327.1749946 ,
       256786.70757423, 215959.93783744, 121484.36290637, 254125.29416801,
       128319.33181206, 162657.36626728, 123740.44016097, 172301.48512206,
       376228.51363844,  93526.7834793 , 214193.56087588, 230856.14183116,
       224143.25461529, 154437.00567759, 119983.72251358, 143249.96574605,
       252305.11603173, 170387.68772444, 120585.45740444, 245386.33806592,
       254484.44652048, 129403.59911784, 142203.41962383, 137506.10273353,
       171756.97657211,  91399.37797868, 235145.32245946,  84398.96994972,
       206201.02185502, 246336.3537387 , 168799.3636079 , 163902.89863245,
       182418.71787821, 183581.27115564, 176100.12987857, 132292.47085676,
       231255.48815805, 168500.29801994, 216307.31556956, 314633.37959028,
       195970.37702493,  98742.88969839, 111660.4053362 , 148858.32402356,
       113049.25976693, 175153.81736598, 255275.16011404, 222048.3765005 ,
       179807.48719639, 186034.17994036, 124265.56023766, 249042.23659965,
       150780.90366623, 116833.87718394, 299443.41696775,  84409.08515754,
       125406.83567131, 142400.00657309, 147975.81867449,  12041.4435751 ,
       175308.07638944, 146965.00844273, 208224.21361105, 286570.33881047,
       260448.92170075, 116222.45085963, 144538.55811562, 204940.71919657,
       133336.33158146, 219784.58947039, 345166.96218044, 241155.12695733,
        98614.31386701, 120917.77487927, -18189.42455404, 189500.78366457,
       166620.52216836, 177249.86595661, 223015.70151454, 117952.99403695,
       182977.57536832,  47981.04808224, 221749.79643909, 173939.00980969,
       171604.6013128 , 173223.43357667,  86811.11297214,  73853.47685705,
       171428.15931206, 226117.66188453, 290870.38695442, 224208.76854567,
       123363.46502139, 147194.84519516, 294902.53821039, 126659.47757258,
       254379.69648486, 107146.77545707, 179796.26974105, 225903.82799094,
        89293.42326423, 112363.46157384, 162066.48010179, 165652.88862507,
       175663.85081755, 123911.34391814, 218192.21566412, 184745.73062269,
       149778.42265941, 165040.8676677 , 125495.9288454 , 104180.79019352,
       175657.27954368, 178485.9346501 , 186361.55929853, 164387.85318626,
       119282.08330383,  85396.06750984, 153447.59205739, 180829.87626092,
       147874.77937661, 185022.72991743, 163882.32649943, 168438.67402082,
       139601.60745558, 235393.56606408, 135209.93500466, 248311.64382851,
       106150.38569143, 163645.90123432, 173109.29700169, 154245.17621254,
       106685.61328587, 258126.42538227, 222388.50361582, 151454.70144839,
        93296.41748117, 136656.42208682, 119228.46628423, 321854.62546505,
       247563.05116045,  92056.94646667, 167143.06440258, 143125.29094613,
       315023.15677415, 113342.44255297, 229049.20402389, 141933.11586459,
       201774.7992571 , 220327.62265042, 118083.99552987, 144332.83678541,
       107412.74747768, 177788.37710428, 115260.43829858, 102651.59497232,
       303548.19169018, 220132.93067805, 140545.20820282, 184277.16512153,
       -16955.0965728 , 205778.34844284, 267731.27055125,  57163.07678713,
       204171.59372221, 224479.70648973, 131012.41823508, 115895.78073488,
       124210.17053161, 156415.94816311, 153348.12810693, 218643.78637936,
       138853.69413045, 254683.31047301, 140586.71165008, 152440.9218316 ,
       165193.92226993, 139058.43122365,  41188.58421215, 134762.72447959,
       163218.51955095, 156987.94456579, 178933.92801825, 126242.23132626,
       161927.76894587, 332276.3397623 , 144673.81629857, 183994.12326639,
       275357.38023501, 176694.26970679,  82102.63685601, 265780.24310297,
       202918.28566193, 172124.31301391, 206050.14086843, 138786.16853912,
       120615.04162798, 118120.28847282, 176639.76634396,  46367.18590923,
       178439.64735081, 208028.77834735, 165251.73763753, 220991.80404774,
       231485.76186876, 187184.22091249, 194214.29219263, 183587.7652972 ,
       232059.8769552 , 327540.88011027, 250407.38191869, 134743.86669099,
       175118.78718629, 168333.65864287, 289385.82303013, 259165.55146794,
       223412.78962843, 222623.9634342 , 115570.05529539,  99670.35002874,
       143728.00249645, 126832.48330693,  74705.50603299, 184375.87062556,
       126060.53718575, 295838.21460427, 220793.9750967 , 176466.61755771,
       286270.62585378, 182737.80612424, 174658.23635472, 184290.98337702,
       324226.58561326, 132766.54823366, 194853.3642328 ,  51553.47298517,
       124363.73702822, 221308.5042128 , 160295.50958193, 204005.78784017,
       183416.37601348, 236133.67118767, 282102.05154538,  97800.00026828,
       254780.58773643, 163902.89863245,  98337.80976008, 187863.27632827,
       167947.42122554, 224708.0435881 , 221089.83218004, 186523.3571263 ,
       117287.41440202, 124240.96686645, 313396.2439211 , 222924.20707555,
        53004.07722812, 123640.47750004, 136113.79532983, 112124.22301442,
       229023.33834068, 256456.07258213, 239086.32724493, 168849.80409708,
       262885.13707098, 212995.20215323, 265870.999857  , 125913.87322492,
       108610.76164198, 291307.84209764, 157906.21425686, 224355.09563821,
       123217.75892974, 298563.53670296,  78393.15119318, 255898.30832302,
       176698.98555553, 263864.71817702, 181970.25216743, 189338.89616533,
       149532.09335419, 176067.59897008, 185459.6675599 , 156561.07841198,
       128473.33109955, 224632.55409166, 143361.7537918 , 129484.5553319 ,
       124483.74113751, 173035.21134922, 138981.49272512, 217147.77151908,
       183622.90655459, 144007.38021091, 290471.83104816, 298394.58065834,
       120010.20733902, 162018.47845808, 197449.90349982, 147524.24807176,
       145664.70528869, 335793.81885027,  71891.39928947, 138190.7735252 ,
       251602.36821084, 166747.28015517, 227014.64604175, 106282.96813813,
       180690.17317792, 164725.13658455, 279134.90898991, 204378.35005391,
       222073.2129011 , 279955.88614994, 169631.20267722, 212883.34258152,
       218481.10429208, 131930.45247431, 190250.91773465, 118065.97892638,
       142412.00698402, 235629.7122707 , 167390.19128627, 109109.28229288,
       100440.0906726 , 161739.04031788, 314589.81526906, 109899.1394337 ,
       130053.83436287,  81123.75937703, 136672.12213528, 285681.27340025,
       163327.67493487, 237371.07219919, 142203.27096557, 220717.19844035,
       250192.8498919 , 173952.43077117, 282676.91958441, 141063.13403356,
       249393.83344124, 243881.77576768, 229386.63255779, 229592.41223003,
       217675.67291588, 121413.80944288, 158473.16146518, 205247.16701547,
        56420.76565397, 231330.06494343, 133103.20710839, 125636.94545614,
       208712.21274359, 167041.99873687, 154003.62867565, 122744.96871275,
       281414.3472752 , 178023.59794817, 104503.08694418, 211025.4204165 ,
       217404.98152388, 200453.71905345,  88656.47206737, 103294.23163206,
       177991.86658933, 186123.96003493, 128783.03280621, 304016.50855559,
       110918.44633894, 200215.32717299, 214471.37498789, 321838.11620568,
       125157.61396828, 191940.49167203, 142699.39584541, 196068.19815693,
       164564.16884169, 260367.17703725, 251602.36821084, 162770.72560555,
       132222.00770951, 279157.78449405, 132076.11340784, 126004.20279444,
       122460.95019815, 216237.29279074, 201489.55741849, 248216.13728035,
       133464.90741284, 180462.35358029, 186154.19723356, 240974.06711415,
       227842.00823682, 162169.81310953, 196968.80690306, 163283.13395419,
       176436.06985862, 156884.3198479 , 148280.2023218 , 191454.89743955,
        53281.90100139, 248565.09937639,  73937.47973355, 219362.33566516,
        96822.8239498 , 312870.50284352, 194847.26124667, 125763.41931034,
       153161.62022388, 154828.40336699, 219497.73690002, 183331.36450332,
       215627.3813881 , 150877.4924577 , 179739.58529754, 236740.90477035,
       286984.47247476, 219148.52813941, 176180.8527245 , 186889.47596295,
       125137.89620429, 108713.62439079, 131566.50714079])

In [99]:
X_holdout['SalePrice'] = list(y_hat)

C:\Users\Adiwid\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [100]:
X_holdout.head()

   Lot Area  Overall Qual  Pool Area  Garage Area      SalePrice
0      9142             6          0          440  173782.309857
1      9662             5          0          580  150973.793062
2     17104             7          0          426  222567.247016
3      8520             5          0          480  139940.336333
4      9500             6          0          514  181112.044957

In [101]:
X_holdout['Id'] = df_to_pred['Id']

C:\Users\Adiwid\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [102]:
X_holdout.drop(features, axis=1,inplace=True)
X_holdout.head()

C:\Users\Adiwid\Anaconda3\lib\site-packages\pandas\core\frame.py:3697: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  errors=errors)

       SalePrice    Id
0  173782.309857  2658
1  150973.793062  2718
2  222567.247016  2414
3  139940.336333  1989
4  181112.044957   625

In [103]:
X_holdout.set_index('Id', inplace = True)

In [104]:
X_holdout.head()

          SalePrice
Id
2658  173782.309857
2718  150973.793062
2414  222567.247016
1989  139940.336333
625   181112.044957

In [105]:
X_holdout.to_csv("./my_first_submission.csv")